body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
}
.auth-page{
  padding-top: 10%;
}
.auth-form{
  background-color: #EBFCFF;
  padding-bottom: 60px;
  padding-top: 10px;
  border: 1px solid #EBFCFF;
  border-radius: 5px;
  opacity: 0.9;
}
.auth-mdb-title{
  margin-bottom: 30px;
}
/*.auth-mdb-title h1{*/
  /*color: #007991;*/
/*}*/
.mdb-main-btn{
  background-color: #008491 !important;
  color :#FFF;
}
.mdb-main-btn:hover, .mdb-main-btn:focus{
  background-color: #007991 !important;
  color: #FFF;
}
.redireact-register{
  margin-top: 10px;
}
.redireact-register a{
  margin-left: 2px;
}
.redireact-register a:hover{
  text-decoration: none;
}
.react-datepicker__input-container, .react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker-wrapper{
  margin-bottom: 15px;
}
.not-found-text{
  color:#FFF;
  margin-top: 200px;
}
.navbar-default .navbar-nav>.open>a{
  color: #FFFFFF !important;
  background-color: #008491 !important;
}
.dropdown-menu{
  background-color: #008491;
}
.dropdown-menu>li>a{
  color: #fff;
}
.dropdown-menu>li>a:hover{
  color: #007991;
}
.small-image{
  width: 100%;
  max-height: 300px;
  min-height: 150px;
}
.dashboard{
  margin-top: 100px;
}
.small-movie{
  border: 1px solid #D3D3D3;
  background-color: #FFF;
  position: relative;
  margin-bottom: 20px;
}
.small-movie-title{
  border-bottom: 1px solid #D3D3D3;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 40px;
}
.small-movie-tags{
  color: #c4c4c4;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 50px;
}
.small-movie-reaction{
  min-height: 20px;
}
.small-movie-about{
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  min-height: 45%;
}
.small-movie-about:hover{
  opacity: 0.8;
}
.small-movie-reaction .reaction-number{
  margin-right: 10%;
}
.small-movie-reaction span{
  margin-right: 3%;
  margin-left: 3%;
}

.navbar-default .navbar-nav>.active>a {
  color: #FFFFFF;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFFFFF;
  background-color: transparent;
}
.side-navigation{
  background-color: #f7f7f7;
  border:1px solid #c4c4c4;
}
.side-navigation a{
  color:#c4c4c4;
}
.side-navigation li{
  border-bottom: 1px solid #ccc;
}
.side-navigation li:last-of-type{
  border-bottom: none;
}
.nav>li>a:focus, .nav>li>a:hover{
  background: #fff;
}
.movie-small-list, .movie-details{
  margin-top: -22px;
}
.movie-details img{
  width: 100%;
}
.movie-details a{
  color: #008491;
  text-decoration: none;
}
.start-form{
  margin-top: 20px;
}
.movie-start-input{
  margin-top: 15px;
}
.movie-start-input .dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
  color:#FFFFFF;
}
.auth-form button{
  margin-top: 15px;
}
.loader {
  position: absolute;
  top:100px;
  left:0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  width: 100px;
}
.small-movie-reaction .btn-default, .large-movie-reaction .btn-default{
  border-color: transparent !important;
}
.small-movie-reaction .btn-default:hover, .small-movie-reaction .btn-default:focus, .large-movie-reaction .btn-default:hover, .large-movie-reaction .btn-default:focus{
  background-color: transparent !important;
  color: #000;
}
.small-movie-tags{
  margin-bottom: 0px ;
}
.link-small-movie, .link-small-movie span{
  color: #000000;
}
.link-small-movie:hover {
  color: #000000;
}
.reaction-active.small-movie-like {
  color: #008491;
}
.reaction-active.small-movie-dislike{
  color: #C70039;
}
.btn:focus {
  outline: none;
}
.btn:active.btn:focus{
  outline: none;
}
.large-movie-reaction{

}
.large-watch-btn {
  color: #008491;
}
.large-watch-btn:hover, .large-watch-btn:focus {
  color: #007991 !important;
}